@import url('https://fonts.googleapis.com/css?family=Press Start 2P');

body {
  background-color: #121212;
  background-image: url('https://files.slack.com/files-pri/T6MPGUPFW-FSS1E6FJT/image_from_ios.jpg');
  background-repeat: no-repeat;

}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#clock {
  font-family: 'Press Start 2P', sans-serif;
  color: #66ff99;
  font-size: 21px;
  text-align: center;
  max-width: 1275px;
  padding-top: 480px;
  padding-bottom: 300px;
}
#cover {
max-width: 1275px;
  padding-top: 300px;
  padding-bottom: 300px;
  padding-left: 545px;
  margin-top: 20px;
}

